<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div class="container">
        <h1>Gallery</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, impedit labore quam quo rerum, dolor quidem
            consequatur sint ullam, adipisci quasi harum voluptate cum voluptatum temporibus ut officia perspiciatis
            corrupti.</p>
    </div>

    <!--<script src="app.js"></script>    -->

</body>

</html>