body {
    background-color: #facada;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 8rem;
}

p {
    width: 600px;
    text-align: center;
}